/* 헤더 */

/* common_web에 있음 */

/* 메인 */

.main{
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'notosans';
}

/* 메인 탑 */

.main_top{
    height: 450px;
    overflow: hidden;
    padding-top: 220px;
    margin-bottom: 40px;
}

.product_img{
    width: 50%;
    height: 410px;
    margin-right: 50px;
    float: left;
}

.mini_img{
    width: 10%;
    height: 100%;
    float: left;
}

.m_img{
    width: 100%;
    height: 54px;
    float: right;
    margin-bottom: 5px;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.mini_img1{
    background: url(../img_cp/item/item_4_1.jpg) no-repeat center / contain;
}

.mini_img2{
    background: url(../img_cp/item/item_4_2.jpg) no-repeat center / contain;
}

.mini_img3{
    background: url(../img_cp/item/item_4_3.jpg) no-repeat center / contain;
}

.mini_img4{
    background: url(../img_cp/item/item_4.png) no-repeat center / contain;
}

.z_img{
    z-index: 99;
}

.big_img{
    width: 90%;
    height: 100%;
    float: right;
    position: relative;
    overflow: hidden;
}

.big_{
    width: 100%;
    height: 100%;
    
    position: absolute;
    left: 0;
    top: 0;
}


.big_ > img{
    width: 100%;
    /* display: none; */
}


.b_img > img{
    width: 100%;
}

.mini_img1:hover,
.mini_img2:hover,
.mini_img3:hover,
.mini_img4:hover{
    border: 2px solid #4285f4;
}

.product_info{
    width: calc(50% - 50px);
    height: 410px;
    float: right;
}

.info_eve{
    width: 100%;
    height: 65px;
    font-size: 18px;
    font-weight: 900;
    border-bottom: 1px solid #ddd;
    line-height: 65px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item_price{
    font-size: 18px;
    color: darkred;
}

.item_del{
    font-size: 18px;
}

.item_option{
    height: 90px;
}

.item_option > select{
    margin-top: 45px;
    width: 443px;
    height: 60px;
    background: #fafafa;
    font-size: 15px;
    font-weight: 900;
}

.info_last{
    width: 100%;
    height: 60px;
    margin-top: 70px;
}

.quantity{
    width: 110px;
    height: 50px;
    float: left;
    margin-right: 25px;
}

.quantity{
    width: 109px;
    height: 54px;
    float: left;
    margin-right: 25px;
}

.q_button{
    background: #f1f1f1;
}

#item_q{
    width: 70%;
    height: 100%;
    outline: none;
    background: #f1f1f1;
    float: left;
    box-sizing: border-box;
    border: none;
    text-align: center;
    font-size: 25px;
}

#up_bt,
#down_bt{
    width: 30%;
    height: 50%;
    padding: 5px;
    color: #777;
    background: #f1f1f1;
    border: none;
}

.in_cart{
    width: 150px;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
    font-weight: 900;
    font-size: 16px;
    border: 2px solid #4285f4;
    color: #4285f4;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 10px;
    background: #fff;
}

.go_pay{
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 900;
    font-size: 16px;
    color: #fff;
    margin-right: 10px;
    background: #4285f4;
    float: left;
    cursor: pointer;
}

/* 메인 중간 */

/* 다른 고객이 함께 구매한 상품 */

.main_mid_title > p{
    font-size: 22px;
    font-weight: 900;
}

.mid_container{
    margin-top: 30px;
    overflow: hidden;
    margin-bottom: 50px;
}

.mid_sec{
    float: left;
    width: calc((100% - (30px)) / 4);
    height: 270px;
    margin-right: 10px;
    cursor: pointer;

}

.mid_sec:hover > .mid_title{
    text-decoration: underline;
    color: #4285f4;
}

.m_r_0{
    margin-right: 0;
}

.mid_img{
    width: 100%;
    text-align: center;
}

.mid_img > img{
    width: 70%;
}

.mid_title{
    height: 40px;
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 5px;
    padding: 0 25px;
}

.mid_price{
    height: 50px;
    font-size: 15px;
    font-weight: 900;
    color: darkred;
    padding: 0 25px;
}

/* 메인하단 */

.main_bottom{
    overflow: hidden  ;
}


.m_bot_btn{
    overflow: hidden;
}

.m_bot_btn > div{
    float: left;
    width: calc(100% / 4);
    height: 65px;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    line-height: 65px;
    font-weight: 900;
    font-size: 20px;
    box-sizing: border-box;
    cursor: pointer;

}

.line_L{
    border-left: 1px solid;
}

.b_click{
    background: #4285f4;
    color: #fff;
    border: 1px solid;
}

.show_info{
    width: 100%;
    height: 3700px;
    text-align: center;
}

.show_in{
    width: 100%;
    display: none;
}

.info1{
    width: 100%;
    margin-top: 10px;
}

.show_info1{
    display: block;
}

.show_info > img{
    width: 100%;
}


/* 사이드 가격비교, 장바구니 */

.side{
    width: 100px;
    height: 10%;

    position: absolute;
    left: 101%;
    top: 900px;
}

.price_com{
    width: 100%;
    height: 45%;
    background: #e1ecf5;
}

.price_com_title,
.side_cart_title{
    background: #05355a;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.price_com_title > p,
.side_cart_title > p{
    color: #fff;
    font-weight: 900;
    font-size: 18px;
}

.side_cart{
    width: 100%;
    height: 45%;
    background: #75bdf4;
}

.side_cart_sum{
    width: 100%;
    height: 5%;
    background: #ddd;
    padding: 5px;
    box-sizing: border-box;
}

.cart_cum{
    width: 51px;
    height: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: #ddd;
    color: darkred;
    font-weight: 900;
    font-size: 13px;
    float: left;

}

.sum{
    font-size: 13px;
    float: left;
}

.won{
    font-size: 13px;
    float: right;
}

/* 푸터 */

/* common_web에 있음 */

